RESEND_API_KEY=re_Lvi1WDig_Momrwova8sCSyTxY8yMgjamw
FRESHBOOKS_CLIENT_ID=
FRESHBOOKS_CLIENT_SECRET=

AUTH_PROVIDER=supabase
NEXT_PUBLIC_SUPABASE_URL=https://farraxoynmfbhtsaxbyl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZhcnJheG95bm1mYmh0c2F4YnlsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzczMDc4MDUsImV4cCI6MjA5Mjg4MzgwNX0.xRn-6RjMkPrX814xKkzmh3v4li58qKzil_NZg_G1bVg
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.farraxoynmfbhtsaxbyl.supabase.co:6543/postgres
NEXT_PUBLIC_APP_URL=http://localhost:3000
DEFAULT_ORGANIZATION_ID=org_permacool
SUPABASE_SERVICE_ROLE_KEY=
